.card-holder {
  // margin-bottom: 2rem;
  padding: 3rem;
  height: 263px;

  .card {
    // margin-bottom: 1rem;
    border-radius: $border-radius;
    display: flex;
    // font-size: 0.563rem;

    .image-holder {
      position: relative;

      img {
        border-radius: $border-radius-lg;
        max-width: 300px;
      }
    }

    .card-body {
      background-color: $light;
      max-width: 224px;
      color: $dark;
      font-family: "Lato";
      border-radius: $border-radius-lg;
      padding: 2.625rem 2.938rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.25rem;

      .card-title {
        font-weight: $dark-weight;
        font-size: 0.938rem;
      }

      .card-text {
        font-size: 0.563rem;
      }

      .time,
      .servings {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        font-size: 0.625rem;
      }
    }
  }
}
