//NOTE: this is mobile first design
//TODO: width on large screen
//TODO: horizontal card on large screen
//TODO: hide buttons and show on hover on large screen

.cards {
  background-color: pink;
}

.card {
  width: 100%;
  // padding: 3.125rem;
  margin-bottom: 3.125rem;
}

.image-holder {
  position: relative;
  img {
    min-width: 100%;
  }

  //https://www.w3schools.com/howto/howto_css_image_text.asp
  .btn-overlay {
    //take no chances since button is inline by default
    // display: block;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.card-body {
  background-color: $light;
  color: $dark;
  font-family: "Lato";
  border-radius: $border-radius-lg;

  margin-bottom: 1.25rem;

  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}

.card-title {
  font-weight: $dark-weight;
  font-size: 0.938rem;
}

.card-text {
  font-size: 0.563rem;
}

.time,
.servings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  font-size: 0.625rem;
}

.button-holder {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
