.hero {
  //this should work for both server & localhost
  //https://stackoverflow.com/questions/2853308/how-to-make-css-url-background-images-show-up-in-localhost
  //order matters to get the gradient to show

  //https://stackoverflow.com/questions/2504071/how-do-i-combine-a-background-image-and-css3-gradient-on-the-same-element
  background-image: linear-gradient(
      rgba($watermelon, $opacity-light),
      rgba($watermelon, $opacity-light)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // height: 100vh;
  min-height: 100%;

  width: 100%;

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: $dark;

  .hero-cta {
    h1 {
      font-size: 3rem;
      margin-bottom: $spacing-xl;
    }

    // p {
    //   font-size: 1.75rem;
    //   font-style: italic;
    // }
  }
}
