.hero {
  //this should work for both server & localhost
  //https://stackoverflow.com/questions/2853308/how-to-make-css-url-background-images-show-up-in-localhost
  //order matters to get the gradient to show

  //https://stackoverflow.com/questions/2504071/how-do-i-combine-a-background-image-and-css3-gradient-on-the-same-element
  background-image: linear-gradient(
      rgba($watermelon, $opacity-light),
      rgba($watermelon, $opacity-light)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // height: 100vh;
  min-height: 100%;

  width: 100%;

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: $dark;

  .hero-cta {
    text-align: center;
    .hero-title {
      font-size: 1.5rem;
      font-family: "Caveat";
      margin-bottom: 1.875rem;
      font-weight: $bold-weight;
      letter-spacing: 2.4px;
      line-height: 32px;
      margin-bottom: 2rem;
    }

    .hero-subtitle {
      font-size: 0.813rem;
      font-family: "Lato";
      letter-spacing: 1.3px;
      line-height: 16px;
    }

    .hero-callout {
      font-family: "Lato";
      font-size: 0.625rem;
      letter-spacing: 1px;
      line-height: 12px;
    }
  }
}
